@import "https://fonts.googleapis.com/css?family=Montserrat:400, 500, 700";

.text-center {
  text-align: center;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.countdown {
  text-align: center;
  margin: 2em;
  color: #2b2b2b;
}

.notice-warning {
  background: #fff;
  border-left: 4px solid #ffb900;
}
.notice-warning a {
  color: #ffb900;
  text-decoration: none;
}
.notice-warning a:hover {
  text-decoration: underline;
}
